ROBOFLOW_API_KEY=roboflow_api_key_here
ROBOFLOW_WORKSPACE=your_roboflow_workspace
ROBOFLOW_PROJECT=your_roboflow_project
HUGGINGFACE_TOKEN=huggingface_token_here
CLEARML_WEB_HOST=https://app.your-clearml-instance.example.com
CLEARML_API_HOST=https://api.your-clearml-instance.example.com
CLEARML_FILES_HOST=https://files.your-clearml-instance.example.com
CLEARML_PROJECT=your_clearml_name_project
CLEARML_API_ACCESS_KEY=your_access_key
CLEARML_API_SECRET_KEY=your_secret_key
ROBOFLOW_DATASET_VERSION=1
username=admin
password=CHANGE_ME_use_a_strong_password
fastapi_host=fastapi # or localhost if you start WITHOUT docker
fastapi_port=8000
streamlit_port=8501
secret_key=CHANGE_ME_min_16_chars!
